http/.terraform/
https/.terraform/
https/cert/

http/.terraform.lock.hcl
http/v.yaml
https/.terraform.lock.hcl
http/terraform.tfstate
https/terraform.tfstate
http/terraform.tfstate.backup
https/terraform.tfstate.backup
